<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="relative">
      <p class="text-white font-DM font-bold absolute start-5 top-50 text-5xl z-50">{{'home.welcome'|translate}}</p>
      <img src="images/banner1.jpg" class="h-100" alt="route" title="route" />
      <div class="bg-dark/50 absolute top-0 w-full h-full z-30"></div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
   <div class="relative">
      <p class="text-white font-DM font-bold absolute start-5 top-50 text-5xl z-50">{{'home.greatest'|translate}}</p>
      <img src="images/banner2.jpg" class="h-100" alt="route" title="route" />
      <div class="bg-dark/50 absolute top-0 w-full h-full z-30"></div>
    </div>
  </ng-template>
</owl-carousel-o>
