<div class="grid grid-cols-12">
  <div class="col-span-12  flex justify-between">
    <div class="grid grid-cols-4 gap-5 my-3">
      <img [src]="cartItem.product.imageCover" class="w-full" [alt]="cartItem?.product?.title" />
      <div>
        <p class="text-2xl font-libre">{{ cartItem?.product?.title }}</p>
        <span>{{ cartItem?.price | currency: 'EGP' }}</span>
      </div>
    </div>
    <div>
      <div class="flex items-center rounded-base col-span-2 -space-x-px" role="group">
        <button
          (click)="onUpdateItem(cartItem.count - 1)"
          type="button"
          class="cursor-pointer inline-flex items-center justify-center text-body bg-neutral-primary-soft rounded-s-base box-border border border-default hover:bg-neutral-secondary-medium hover:text-heading focus:ring-3 focus:ring-neutral-tertiary leading-5 w-9 h-9 focus:outline-none"
        >
          <i class="fa-solid fa-minus"></i>
        </button>
        <p class="px-4">{{ cartItem?.count }}</p>
        <button
          (click)="onUpdateItem(cartItem.count + 1)"
          type="button"
          class="cursor-pointer inline-flex items-center justify-center text-body bg-neutral-primary-soft rounded-e-base box-border border border-default hover:bg-neutral-secondary-medium hover:text-heading focus:ring-3 focus:ring-neutral-tertiary leading-5 w-9 h-9 focus:outline-none"
        >
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
      <button
        (click)="onRemoveItem()"
        class="bg-main mt-2 cursor-pointer hover:bg-dark transition duration-100 text-white rounded p-2"
      >
        {{'cart.remove'|translate}} <i class="fa-solid fa-trash"></i>
      </button>
    </div>
  </div>
</div>
