<footer class="bg-footer text-start ">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <a routerLink="/user/home" class="flex items-center">
          <span class="self-center text-2xl font-bold whitespace-nowrap">Elevate Commerce</span>
        </a>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
        <div>
          <h2 class="mb-6 text-sm font-semibold uppercase">{{'footer.discover'|translate}}</h2>
          <ul class=" font-medium">
            <li class="mb-4">
              <a class="hover:underline cursor-pointer" routerLink="/user/product">{{'footer.elevate'|translate}}</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-semibold uppercase">{{'footer.follow'|translate}}</h2>
          <ul class=" font-medium">
            <li class="mb-4">
              <a href="https://github.com/Beshoy-Edwar-Aziz" target="_blank" class="hover:underline">{{'footer.gitHub'|translate}}</a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/beshoy-salama-ba734427b/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B%2F47%2FdzqHQW%2BrYGwPbRznPQ%3D%3D"
                class="hover:underline"
                target="_blank"
                >{{'footer.LinkedIn'|translate}}</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-semibold uppercase">{{'footer.legal'|translate}}</h2>
          <ul class=" font-medium">
            <li class="mb-4">
              <a href="#" class="hover:underline">{{'footer.privacy'|translate}}</a>
            </li>
            <li>
              <a href="#" class="hover:underline">{{'footer.terms'|translate}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-default sm:mx-auto lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between text-3xl">
      <span class="text-sm  sm:text-center"
        >{{'footer.rights'|translate}}
      </span>
      <div class="flex mt-4 sm:justify-center sm:mt-0">
        <a href="#" class=" hover:text-heading">
          <i class="w-5 h-5 fa-brands fa-cc-visa"></i>
          <span class="sr-only">Visa</span>
        </a>
        <a href="#" class=" hover:text-heading ms-5">
          <i class="w-5 h-5 fa-brands fa-cc-mastercard"></i>
          <span class="sr-only">Master Card</span>
        </a>
        <div class=" cursor-pointer hover:text-heading ms-5">
          <i class="fa-brands fa-cc-jcb w-5 h-5"></i>
          <span class="sr-only">JCB</span>
        </div>
        <a
          href="https://github.com/Beshoy-Edwar-Aziz"
          target="_blank"
          class=" hover:text-heading ms-5"
        >
          <i class="fa-brands fa-github w-5 h-5"></i>
          <span class="sr-only">GitHub account</span>
        </a>
      </div>
    </div>
  </div>
</footer>
