<main>
  <div class="mt-20">
    <app-main-carousel></app-main-carousel>
  </div>
  <div class="bg-linear-to-b from-start to-end p-10 flex flex-col md:flex-row">
    <div>
      <h1 class="font-DM text-3xl text-main font-semibold">Elevate Commerce</h1>
      <p class="font-libre text-main font-light mt-2">{{'home.pace'|translate}}</p>
    </div>
    <div class="flex flex-col space-y-5 text-center md:flex-row md:space-y-0">
      <div class="flex flex-col items-center font-libre text-main">
        <div class="bg-end rounded-full border flex items-center justify-center w-10 h-10">
          <i class="fa-brands fa-envira  text-main"></i>
        </div>
        <p class="font-bold text-xl">{{'home.safe'|translate}}</p>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="flex flex-col items-center font-libre text-main">
        <div class="bg-end rounded-full border flex items-center justify-center w-10 h-10">
          <i class="fa-solid fa-box text-main"></i>
        </div>
        <p class="font-bold text-xl">{{'home.delivered'|translate}}</p>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="flex flex-col items-center font-libre text-main">
        <div class="bg-end rounded-full border flex items-center justify-center w-10 h-10">
          <i class="fa-solid fa-hands-holding text-main"></i>
        </div>
        <p class="font-bold text-xl">{{'home.personal'|translate}}</p>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="flex flex-col items-center font-libre text-main">
        <div class="bg-end rounded-full border flex items-center justify-center w-10 h-10">
          <i class="fa-solid fa-ranking-star text-main"></i>
        </div>
        <p class="font-bold text-xl">{{'home.no1'|translate}}</p>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
  <section>
    <app-product-carousel [productData]="products()"></app-product-carousel>
  </section>
  <section class="mt-3 mb-7">
    <app-categories-carousel [categoriesList]="categories()"></app-categories-carousel>
  </section>
</main>
