<section class="container mx-auto">
  @if (cartDetails().numOfCartItems != 0) {
    <h2>{{'cart.totalPrice'|translate}} : {{ cartDetails().data?.totalCartPrice | currency: 'EGP' }}</h2>

    @for (cartItem of cartDetails().data?.products; track cartItem._id) {
      <app-cart-item
        [cartItem]="cartItem"
        (removeItem)="removeCartItem($event)"
        (updateItem)="updateItemQty($event.id, $event.count)"
      ></app-cart-item>
    } @empty {
      <p>{{'cart.cartEmpty'|translate}}</p>
    }
    <div class="flex justify-between">
      <button
        (click)="emptyCart()"
        class="empty-btn bg-main text-white font-libre rounded p-3 cursor-pointer hover:bg-white hover:text-link hover:border hover:border-link transition duration-150"
      >
        {{'cart.emptify'|translate}} <i class="fa-solid fa-trash"></i>
      </button>
      <button
        class="close-btn bg-main text-white font-libre rounded p-3 cursor-pointer hover:bg-white hover:text-link hover:border hover:border-link transition duration-150"
        routerLink="/allorders"
        (click)="closeDrawer()"
        >
       {{'cart.proceed'|translate}}
      </button>
    </div>
  } @else {
    <div>
      <h1 class="font-extrabold font-libre text-5xl text-center">{{'cart.cartEmpty'|translate}}</h1>
    </div>
  }
</section>
