<section class="mt-25 mb-5 container mx-auto">
  <h1 class="text-main text-xl md:text-3xl font-DM font-bold mb-2">{{'wishlist.mywish'|translate}}</h1>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    @for(wish of wishList() ;track wish._id){
    <wishListCard [wishList]="wish" (productId)="addProductToCart($event)" (productIdForDelete)="deleteWishList($event)"></wishListCard>
    }@empty{
      <h2 class="col-span-12 text-center text-main font-libre text-5xl my-25">{{'wishlist.noWishList'|translate}}</h2>
    }
  </div>
</section>
