<div class="grid grid-cols-12 mt-10">
  <div class="text-main col-span-12 md:col-span-4">
    <h2 class="font-bold font-DM text-3xl">{{ 'home.shop' | translate }}</h2>
    <p class="text-xl font-libre">{{ 'home.para' | translate }}</p>
    <button
      class="bg-link text-white font-bold rounded p-4 cursor-pointer hover:bg-dark transition duration-150 mt-5"
      routerLink="/user/product"
    >
      {{ 'home.shopBtn' | translate }}
    </button>
  </div>
  <div class="col-span-12 md:col-span-8">
    <owl-carousel-o [options]="customOptions">
      @for (product of productData; track product._id) {
        <ng-template carouselSlide>
          @defer (on viewport) {
            <product-card
              [product]="product"
              [wishList]="wishListProds()"
              (productId)="addProductToCart($event)"
              (productIdForWishList)="addProductToWishList($event)"
            ></product-card>
          } @placeholder (minimum 600ms) {
            <div class="mx-3">
              <div
                role="status"
                class="flex items-center justify-center h-56 max-w-sm bg-neutral-quaternary rounded-base animate-pulse"
              >
                <i class="fa-solid fa-image text-3xl"></i>
                <span class="sr-only">Loading...</span>
              </div>

              <div role="status" class="mt-5 max-w-sm animate-pulse">
                <div class="h-2.5 bg-neutral-quaternary rounded-full w-48 mb-4"></div>
                <div class="h-2 bg-neutral-quaternary rounded-full max-w-[360px] mb-2.5"></div>
                <div class="h-2 bg-neutral-quaternary rounded-full mb-2.5"></div>
                <div class="h-2 bg-neutral-quaternary rounded-full max-w-[330px] mb-2.5"></div>
                <div class="h-2 bg-neutral-quaternary rounded-full max-w-[300px] mb-2.5"></div>
                <div class="h-2 bg-neutral-quaternary rounded-full max-w-[360px]"></div>
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          }
        </ng-template>
      }
    </owl-carousel-o>
  </div>
</div>
